
<footer>   
    <p class="footer">&copy; <%= new Date().getFullYear() %> Now I See. All rights reserved.</p>
</footer>

</div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/signup.js"></script>
    <script src="/js/login.js"></script>
    <script src="/js/save_notes.js"></script>
    <script src="/js/success_error_meassage.js"></script>
    <script src="/js/button_scroll_down.js"></script>
    <script src="/js/delete_notes.js"></script>
    <script src="/js/edit_save_notes.js"></script>


</body>
</html>

