
<footer>   
    <p class="footer">&copy; <%= new Date().getFullYear() %> Now I See. All rights reserved.</p>
</footer>

</div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/index.js"></script>


</body>
</html>

