<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Now I See</title>
    <link rel="icon" type="image/png" href="/pictures/favicon.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Allan:wght@400;700&family=Amita:wght@400;700&family=Atma:wght@300;400;500;600;700&family=Barrio&family=Charm:wght@400;700&family=Coming+Soon&family=Delius+Swash+Caps&family=Fugaz+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Knewave&family=Lavishly+Yours&family=Lexend:wght@100..900&family=Love+Light&family=Marck+Script&family=Markazi+Text:wght@400..700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Mono:wght@100..900&family=Pacifico&family=Quintessential&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Romanesco&family=Schoolbell&family=Shadows+Into+Light&family=Sriracha&family=Trade+Winds&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

   <link rel="stylesheet" href="/style/style.css">

</head>
<body>
    <div class="navbar">
        <div class="logo-links-navbar-container">
            <img class="logo" src="/pictures/logo.png" alt="logo of the app"> 

                <a href="/create_note">Write a new thought</a>
                <a href="/review_note">Review your thoughts & answers</a>



        </div>


<div class="logout-navbar-container">

            <div class="username-container">
            <p class="username">Welocome user:<%= username %></p>

            </div>
  <form action="/logout" method="POST">
    <button type="submit" class="logout-icon" title="Logout"></button>
  </form>
</div>


    </div>